/* Background */
.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    animation: color-change-2x 5s 9s linear infinite alternate both;
}

@keyframes color-change-2x {
    0% {

        background: linear-gradient(315deg, purple, black);
    }

    100% {
        background: linear-gradient(315deg, rgba(128, 0, 128, 0.74), rgb(8, 0, 22));
    }
}

/* Eid Box */
.eid {
    position: relative;
    right: calc(250px/2);
    background: linear-gradient(to left, black, rgba(68, 68, 68, 0.692));
    width: 250px;
    height: 80px;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    border: 2px solid red;
    border-radius: 10px;
    animation: borderAnimation 1s infinite,
        mymove 7s infinite,
        /* slide-left 6s 9s infinite, */
        bounce-top 2s 7s both;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eid i {
    color: red;
}

@keyframes mymove {
    from {
        top: 55vh;
    }

    to {
        top: 55vh
    }
}

@keyframes borderAnimation {
    25% {
        border-color: rgb(3, 13, 71);
    }

    50% {
        border-color: red;
    }

    100% {
        border-color: yellow;
    }
}

/* @keyframes slide-left {
    0% {
        transform: rotate(0);
        transform-origin: top right;
    }

    33.3% {
        transform: rotate(15deg);
        transform-origin: top right;
    }

    75% {
        transform: rotate(-10deg);
        transform-origin: top left;
    }

    100% {
        transform: rotate(0);
        transform-origin: top left;
    }
} */

@keyframes bounce-top {
    0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }

    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

/* Rope */
.rope::before {
    content: "";
    position: absolute;
    border: 10px solid black;
    border-radius: 50%;
    top: 53.5vh;
    left: -8px;
}

.rope {
    position: relative;
    /* left: calc(250px/2); */
    width: 3px;
    height: 55vh;
    background-color: black;
    animation: moverope 7s cubic-bezier(0, 0, 0, 1) both,
        rotate-90-tl-cw 10s 9s infinite;
}

@keyframes moverope {
    0% {
        top: -428.5px;
    }

    100% {
        top: 0;
    }
}

@keyframes rotate-90-tl-cw {
    0% {
        transform: rotate(0);
        transform-origin: 0% 0%;
    }

    20% {
        transform: rotate(70deg);
        transform-origin: 0% 0%;
    }

    40% {
        transform: rotate(-65deg);
        transform-origin: 0% 0%;
    }

    60% {
        transform: rotate(35deg);
        transform-origin: 0% 0%;
    }

    80% {
        transform: rotate(-25deg);
        transform-origin: 0% 0%;
    }

    100% {
        transform: rotate(0);
        transform-origin: 0% 0%;

    }
}

/* Ramadan Box */
.ramadan {
    position: absolute;
    top: 55vh;
    background: linear-gradient(to right, black, rgba(34, 34, 34, 0.411));
    width: 320px;
    height: 80px;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scale-out-center 4s 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}


.ramadan i {
    color: rgb(255, 196, 0);
}

/* For screens smaller than 992px  */
@media (max-width: 992px) {
    @keyframes rotate-90-tl-cw {
        0% {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }

        20% {
            transform: rotate(45deg);
            transform-origin: 0% 0%;
        }

        40% {
            transform: rotate(-40deg);
            transform-origin: 0% 0%;
        }

        60% {
            transform: rotate(22.5deg);
            transform-origin: 0% 0%;
        }

        80% {
            transform: rotate(-12.5deg);
            transform-origin: 0% 0%;
        }

        100% {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }
    }
}

/* For screens smaller than 768px (e.g., tablets and smartphones) */
@media (max-width: 768px) {

    /* Adjust eid box size */
    .eid {
        width: 200px;
        right: calc(200px/2);
        height: 60px;
        font-size: 22px;
    }

    /* Adjust Ramadan box size */
    .ramadan {
        width: 250px;
        height: 60px;
        font-size: 22px;
    }

    @keyframes bounce-top {
        0% {
            transform: translateY(-25px);
            animation-timing-function: ease-in;
            opacity: 1;
        }

        24% {
            opacity: 1;
        }

        40% {
            transform: translateY(-24px);
            animation-timing-function: ease-in;
        }

        65% {
            transform: translateY(-12px);
            animation-timing-function: ease-in;
        }

        82% {
            transform: translateY(-6px);
            animation-timing-function: ease-in;
        }

        93% {
            transform: translateY(-4px);
            animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
        }

        100% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
            opacity: 1;
        }
    }

    @keyframes rotate-90-tl-cw {
        0% {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }

        20% {
            transform: rotate(30deg);
            transform-origin: 0% 0%;
        }

        40% {
            transform: rotate(-25deg);
            transform-origin: 0% 0%;
        }

        60% {
            transform: rotate(15deg);
            transform-origin: 0% 0%;
        }

        80% {
            transform: rotate(-5deg);
            transform-origin: 0% 0%;
        }

        100% {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }
    }
}

/* For screens smaller than 576px */
@media (max-width: 576px) {

    @keyframes rotate-90-tl-cw {
        0% {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }

        20% {
            transform: rotate(25deg);
            transform-origin: 0% 0%;
        }

        40% {
            transform: rotate(-20deg);
            transform-origin: 0% 0%;
        }

        60% {
            transform: rotate(12.5deg);
            transform-origin: 0% 0%;
        }

        75% {
            transform: rotate(-2.5deg);
            transform-origin: 0% 0%;
        }

        100% {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }
    }
}

/* For screens smaller than 480px (e.g., smartphones) */
@media (max-width: 480px) {

    /* Adjust eid box size */
    .eid {
        width: 160px;
        right: calc(160px/2);
        height: 50px;
        font-size: 18px;
    }

    /* Adjust Ramadan box size */
    .ramadan {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }

    @keyframes bounce-top {
        0% {
            transform: translateY(-25px);
            animation-timing-function: ease-in;
            opacity: 1;
        }

        24% {
            opacity: 1;
        }

        40% {
            transform: translateY(-24px);
            animation-timing-function: ease-in;
        }

        65% {
            transform: translateY(-12px);
            animation-timing-function: ease-in;
        }

        82% {
            transform: translateY(-6px);
            animation-timing-function: ease-in;
        }

        93% {
            transform: translateY(-4px);
            animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
        }

        100% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
            opacity: 1;
        }
    }
}